/* Warna utama */
:root {
    --primary-color: #F7A072;
    --secondary-color: #0FA3B1;
    --text-color: #F9F7F3;
    --complementary-color: #F9F7F3;
  }
  
  /* Global body styling */
  body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar styling */
  .navbar {
    background-color: var(--primary-color) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .nav-link {
    color: var(--text-color) !important;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color: var(--complementary-color) !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  